################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoffeeSchedulingApp/appsettings.json
/.vs/CoffeeSchedulingApp/v17/.futdcache.v2
/.vs/CoffeeSchedulingApp/v17/.suo
/.vs/ProjectEvaluation/coffeeschedulingapp.metadata.v7.bin
/.vs/ProjectEvaluation/coffeeschedulingapp.projects.v7.bin
/.vs/CoffeeSchedulingApp/v17/HierarchyCache.v1.txt
/.vs/CoffeeSchedulingApp/DesignTimeBuild/.dtbcache.v2
/CoffeeSchedulingApp/obj/Debug/net7.0/CoffeeSchedulingApp.AssemblyInfo.cs
/CoffeeSchedulingApp/obj/Debug/net7.0/CoffeeSchedulingApp.AssemblyInfoInputs.cache
/CoffeeSchedulingApp/obj/Debug/net7.0/CoffeeSchedulingApp.assets.cache
/CoffeeSchedulingApp/obj/Debug/net7.0/CoffeeSchedulingApp.GeneratedMSBuildEditorConfig.editorconfig
/CoffeeSchedulingApp/obj/Debug/net7.0/CoffeeSchedulingApp.RazorAssemblyInfo.cache
/CoffeeSchedulingApp/obj/CoffeeSchedulingApp.csproj.nuget.dgspec.json
/CoffeeSchedulingApp/obj/CoffeeSchedulingApp.csproj.nuget.g.props
/CoffeeSchedulingApp/obj/project.assets.json
/CoffeeSchedulingApp/obj/project.nuget.cache
/.vs/CoffeeSchedulingApp/FileContentIndex/d53a8a6d-58dc-49a5-85ba-7658e200a2d7.vsidx
/.vs/CoffeeSchedulingApp/FileContentIndex/3bc5cb9e-ad1a-4141-9fd4-a9028151bfd6.vsidx
/.vs/CoffeeSchedulingApp/FileContentIndex/221bc27d-9323-4b4b-98dd-031dd6d0e392.vsidx
/.vs/CoffeeSchedulingApp/FileContentIndex/07c375b4-c8a6-4b4d-b4c5-dbe0d9ed65c6.vsidx
/.vs/CoffeeSchedulingApp/FileContentIndex/39984657-a8c2-44fc-bd16-fc084e3ef2d0.vsidx
*.vsidx
