################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoffeeSchedulingApp/appsettings.json
/.vs/CoffeeSchedulingApp/v17/.suo
