################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoffeeSchedulingApp/appsettings.json
/.vs/CoffeeSchedulingApp/v17/.futdcache.v2
/.vs/CoffeeSchedulingApp/v17/.suo
/.vs/ProjectEvaluation/coffeeschedulingapp.metadata.v7.bin
/.vs/ProjectEvaluation/coffeeschedulingapp.projects.v7.bin
/.vs/CoffeeSchedulingApp/v17/HierarchyCache.v1.txt
