
@*build out login and create user buttons*@
@using CoffeeSchedulingApp.Models.UserModelsRepos;
@model User

<div style="display: block">

    @using (Html.BeginForm("UpdateCoffee", "Coffee", "Post"))
    {
        <input type="hidden" asp-for="UserID" value="@Model.UserID" />
        <input type="submit" value="Update this Coffee" />
    }
</div>