@*Build Out Login Page*@
@using CoffeeSchedulingApp.Models.UserModelsRepos;
@model User

@* <div style="display: block"> *@

@using (Html.BeginForm("GetUserBags", "User", "Post"))
{
    <label asp-for="UserID" class="control-label">Enter your User ID</label>
    <input type="number" name="UserID" class="form-control" value="0" />

    <input type="submit" class="btn btn-primary" value="Log In" />
}