
@*Build Out Login Page*@
@using CoffeeSchedulingApp.Models.UserModelsRepos;
@model User

@* <div style="display: block"> *@

    @using (Html.BeginForm("GetUserBags", "User", "Post"))
    {
       @*  <input asp-for="UserID" type="hidden" value="@Model.UserID" /> *@

        <label asp-for="UserID" class="control-label">Enter your User ID</label>
        <input type="number" name="UserID" class="form-control" value="0"/>

        <input type="submit" value="Log In" />
    }
@* </div> *@

@* 
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{

    <div class="form-group">
        @Html.LabelFor(model => model.UserID)
        @Html.TextBoxFor(model => model.UserID, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
} *@