@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Coffee Inventory Made Easy</h1>

    <img src="https://cdn.thewirecutter.com/wp-content/media/2021/09/coffee-subscription-2048px-3205-2x1-1.jpg?auto=webp&quality=75&crop=2:1&width=980&dpr=1.5" alt="Coffee Bags on Table" />
</div>